**/kubeconfig/*.yaml
**/kubeconfig/config
**/ssh/*.pem
**/output/*
**/data/logs
**/cb-operator
**/meta_db/*

node_modules/
.DS_Store
.nuxt/
.tmp/
dist/
*.log
*.js.map
*.db
yarn.lock

# IDE specific files:
.idea/
*.iml
*.swp
.vscode
.history

# npm debug log:
npm-debug.log